<body>
  {{#each saved}}
    <div class="container">
    <div class="row">
      <div id="featuredArticles" class="col s12 m6 l6">
          <div class="card" id={{this._id}}>
            <div class="card-image">
              <img src={{this.img}} class="activator" />
            </div>
            
            <div class="card-content">
              <span class="card-title activator">{{this.title}} <i class="material-icons right">more_vert</i></span>
            </div>

            <div class="card-reveal">
              <span class="card-title center">{{this.title}}</span>
              <p>{{this.summary}}</p>
              <br />
              <ul class="center">
                <li>
                  <form action="/save/{{this._id}}" method="POST" />
                  <button type="submit" value="{{this.status}}" class="waves-effect waves-light btn-small deep-purple lighten-3"><i class="material-icons left">create_new_folder</i>{{this.status}}</button>
                </li>
                <br />
                <li>
                   <a class="waves-effect waves-light btn-small deep-purple lighten-3"><i class="material-icons left">add_comment</i>Add Note</a>
                </li>
              </ul>
            </div>
          </div>  
      </div>
    </div>
  </div>
  {{/each}}
</body>